<div class="day">
  <%= day.strftime("%-d") %>

  <div class="event-count">
    <%= link_to event_count(day),
                day_path(day.strftime("%Y%m%d")) unless event_count(day).nil? %>
  </div>
</div>

