<div class="month">
  <h2><%= time.strftime("%B") %></h2>
  <div class="row">
    <% Date::DAYNAMES.each do |day_name| %>
      <%= day_of_week_heading(day_name) %>
    <% end %>
  </div>

  <% weeks_remaining_in_month(time).each do |week| %>
    <%= render "events/calendar/week", week: week, month: time %>
  <% end %>
</div>
