<h4>Events</h4>
<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Start time</th>
    <th>Contact person</th>
    <th>Sponsor organization</th>
    <th></th>
    <th></th>
  </tr>
  <%= render partial: "event", collection: @events.order("lower(title) ASC, starts_at ASC") %>
</table>
