<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Start time</th>
    <th>Sponsor</th>
    <th></th>
  </tr>
  <%= render partial: "event", collection: @events.order("lower(title) ASC") %>
</table>
