<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Site</a>
  </li>
</ul>