<div class="well">
  <div class="row">
    <%= link_to "Add New Event",
                  "#",
                  data: { toggle: "modal", target: "#new-event-modal" },
                  id: "new-event-button",
                  class: "btn btn-danger" if can_add_new_events? %>
  </div>
  <div class="row">
    <%= render "calendar" if show_calendar? %>
    <%= render "sidebar" if show_sidebar? %>
  </div>
</div>

<%= render "new_event_modal" if can_add_new_events? %>
