<div class="event-form">
  <%= simple_form_for subscription do |f| %>
    <div>
      <%= f.input :email %>
    </div>
    <%= f.input :duration,
                as: :select,
                collection: Subscription.durations.keys.to_a,
                label: "Receive emails:",
                include_blank: false %>
    <%= f.submit nil, class: "btn btn-primary" %>
  <% end %>
</div>
