#new-event-modal{
  .modal-title{
    font-size: 20px;
  }

  .modal-body{
    div+h4{
      border-top: 1px solid black;
      margin-top: 15px;
      padding-top: 15px;
    }
  }

  label{
    width: 100%;
    padding-top: 10px;
  }

  .input{
    input, textarea{
      width: 100%;
    }
  }

  .btn{
    margin-top: 20px;
  }

  .hint{
    background-color: lightgray;
    width: 100%;
    display: block;
    padding: 5px;
  }
}

#new-event-button{
  margin-left: 15px;
  margin-bottom: 20px;
}

#event-show .event-link{
  pointer-events: none;
  cursor: default;
  color: inherit;
}