.modal-title{
  font-size: 20px;
}

#new-event-modal{

  .modal-body{
    div+h4{
      border-top: 1px solid black;
      margin-top: 15px;
      padding-top: 15px;
    }
  }
}

.event-form{
  label{
    width: 100%;
    padding-top: 10px;

    &.boolean{
      width: auto;
      padding-left: 5px;
    }
  }

  .input{
    input, textarea{
      width: 100%;

      &.boolean{
        width: auto;
      }
    }
  }

  .btn{
    margin-top: 20px;
  }

  .hint{
    background-color: lightgray;
    width: 100%;
    display: block;
    padding: 5px;
  }

  .recurring-checkbox{
    margin-top: 5px;
  }
}

#event-show .event-link{
  pointer-events: none;
  cursor: default;
  color: inherit;
}